In [784]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [785]:
df=pd.read_csv('F:\Decision_tree_heart_desease\data\processed.cleveland.data')

In [786]:
df.head()

,63.0,1.0,1.0.1,145.0,233.0,1.0.2,2.0,150.0,0.0,2.3,3.0,0.0.1,6.0,0
0,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
1,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
2,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
3,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
4,56.0,1.0,2.0,120.0,236.0,0.0,0.0,178.0,0.0,0.8,1.0,0.0,3.0,0

In [787]:
df.columns=['age','sex','cp','restbp','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','hd']

age: age

sex: male/female

cp: chest pain type

restbp: resting blood pressure

chol: cholesterol

fbs: high fasting blood sugar

restecg: ECG result

thalach: max heart rate

exang: exercise angina

oldpeak: exercise-induced ST depression

slope: ST segment slope

ca: major vessels count

thal: thalassemia type

hd: heart disease present or not

In [788]:
df.shape

(302, 14)

In [789]:
df.dtypes

age        float64
sex        float64
cp         float64
restbp     float64
chol       float64
fbs        float64
restecg    float64
thalach    float64
exang      float64
oldpeak    float64
slope      float64
ca          object
thal        object
hd           int64
dtype: object

> of all columns ca, thal are not numerical

In [790]:
df.describe().T

         count        mean        std    min     25%    50%    75%    max
age      302.0   54.410596   9.040163   29.0   48.00   55.5   61.0   77.0
sex      302.0    0.678808   0.467709    0.0    0.00    1.0    1.0    1.0
cp       302.0    3.165563   0.953612    1.0    3.00    3.0    4.0    4.0
restbp   302.0  131.645695  17.612202   94.0  120.00  130.0  140.0  200.0
chol     302.0  246.738411  51.856829  126.0  211.00  241.5  275.0  564.0
fbs      302.0    0.145695   0.353386    0.0    0.00    0.0    0.0    1.0
restecg  302.0    0.986755   0.994916    0.0    0.00    0.5    2.0    2.0
thalach  302.0  149.605960  22.912959   71.0  133.25  153.0  166.0  202.0
exang    302.0    0.327815   0.470196    0.0    0.00    0.0    1.0    1.0
oldpeak  302.0    1.035430   1.160723    0.0    0.00    0.8    1.6    6.2
slope    302.0    1.596026   0.611939    1.0    1.00    2.0    2.0    3.0
hd       302.0    0.940397   1.229384    0.0    0.00    0.0    2.0    4.0

In [791]:
df['ca'].unique()

array(['3.0', '2.0', '0.0', '1.0', '?'], dtype=object)

In [792]:
df['thal'].unique()

array(['3.0', '7.0', '6.0', '?'], dtype=object)

>both ca and thal have '?' for missing values

In [793]:
df.loc[(df['ca']=='?')|(df['thal']=='?')]

,age,sex,cp,restbp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,hd
86,53.0,0.0,3.0,128.0,216.0,0.0,2.0,115.0,0.0,0.0,1.0,0.0,?,0
165,52.0,1.0,3.0,138.0,223.0,0.0,0.0,169.0,0.0,0.0,1.0,?,3.0,0
191,43.0,1.0,4.0,132.0,247.0,1.0,2.0,143.0,1.0,0.1,2.0,?,7.0,1
265,52.0,1.0,4.0,128.0,204.0,1.0,0.0,156.0,1.0,1.0,2.0,0.0,?,2
286,58.0,1.0,2.0,125.0,220.0,0.0,0.0,144.0,0.0,0.4,2.0,?,7.0,0
301,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

>since only six samples have missing value that out of 303 samples that's less than 2% so we can drop those samples

In [794]:
df.drop(df[(df['ca']=='?') | (df['thal']=='?')].index,inplace=True)

In [795]:
df.shape

(296, 14)

>split the data into dependent and independent

In [796]:
x=df.drop(columns='hd',axis=1).copy()

In [797]:
y=df['hd'].copy()

In [798]:
x=pd.get_dummies(x,columns=['sex','fbs','exang','ca', 'thal'],dtype=float)  #dtypes default to bool

>y the target variable has 5 unique valaue depending on sverity but classifieng them into 6 classes is clumsy lets take only has heart disesase or no heart disease

In [799]:
ind_y_not_0=y>0
y[ind_y_not_0]=1    #ind_y_not is array of true false which will be evaluated as index