In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [1]:
df['ca'].unique()

NameError: name 'df' is not defined

In [ ]:
df['thal'].unique()

array(['3.0', '7.0', '6.0', '?'], dtype=object)

>both ca and thal have '?' for missing values

In [ ]:
df.loc[(df['ca']=='?')|(df['thal']=='?')]

,age,sex,cp,restbp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,hd
86,53.0,0.0,3.0,128.0,216.0,0.0,2.0,115.0,0.0,0.0,1.0,0.0,?,0
165,52.0,1.0,3.0,138.0,223.0,0.0,0.0,169.0,0.0,0.0,1.0,?,3.0,0
191,43.0,1.0,4.0,132.0,247.0,1.0,2.0,143.0,1.0,0.1,2.0,?,7.0,1
265,52.0,1.0,4.0,128.0,204.0,1.0,0.0,156.0,1.0,1.0,2.0,0.0,?,2
286,58.0,1.0,2.0,125.0,220.0,0.0,0.0,144.0,0.0,0.4,2.0,?,7.0,0
301,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

>since only six samples have missing value that out of 303 samples that's less than 2% so we can drop those samples

In [ ]:
df.drop(df[(df['ca']=='?') | (df['thal']=='?')].index,inplace=True)