In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df=pd.read_csv('F:\Decision_tree_heart_desease\data\processed.cleveland.data')

In [8]:
df.columns=['age','sex','cp','restbp','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','hd']

age: age

sex: male/female

cp: chest pain type

restbp: resting blood pressure

chol: cholesterol

fbs: high fasting blood sugar

restecg: ECG result

thalach: max heart rate

exang: exercise angina

oldpeak: exercise-induced ST depression

slope: ST segment slope

ca: major vessels count

thal: thalassemia type

hd: heart disease present or not

In [9]:
df['ca'].unique()

array(['3.0', '2.0', '0.0', '1.0', '?'], dtype=object)

In [10]:
df['thal'].unique()

array(['3.0', '7.0', '6.0', '?'], dtype=object)

>both ca and thal have '?' for missing values

In [11]:
df.loc[(df['ca']=='?')|(df['thal']=='?')]

,age,sex,cp,restbp,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,hd
86,53.0,0.0,3.0,128.0,216.0,0.0,2.0,115.0,0.0,0.0,1.0,0.0,?,0
165,52.0,1.0,3.0,138.0,223.0,0.0,0.0,169.0,0.0,0.0,1.0,?,3.0,0
191,43.0,1.0,4.0,132.0,247.0,1.0,2.0,143.0,1.0,0.1,2.0,?,7.0,1
265,52.0,1.0,4.0,128.0,204.0,1.0,0.0,156.0,1.0,1.0,2.0,0.0,?,2
286,58.0,1.0,2.0,125.0,220.0,0.0,0.0,144.0,0.0,0.4,2.0,?,7.0,0
301,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

>since only six samples have missing value that out of 303 samples that's less than 2% so we can drop those samples

In [12]:
df.drop(df[(df['ca']=='?') | (df['thal']=='?')].index,inplace=True)

In [13]:
df.shape

(296, 14)

>split the data into dependent and independent

In [14]:
x=df.drop(columns='hd',axis=1).copy()

In [15]:
y=df['hd'].copy()

In [16]:
x=pd.get_dummies(x,columns=['sex','fbs','exang','ca', 'thal'],dtype=float)  #dtypes default to bool

>y the target variable has 5 unique valaue depending on sverity but classifieng them into 6 classes is clumsy lets take only has heart disesase or no heart disease

In [17]:
ind_y_not_0=y>0
y[ind_y_not_0]=1    #ind_y_not is array of true false which will be evaluated as index